<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">
</head>
<body>

    <!-- Create navigation Bar (Header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span>
         </button>
        <a class="navbar-brand" href="#" th:href="@{/}">Reset Password Module</a>
       </div>
      </div>
    </nav>
    
 <br>
 <br>
 
 <div class = "container">
        <div class = "row">
             <div class = "col-md-6 col-md-offset-3">

                <div th:if="${param.success}">
                    <div class="alert alert-info">Password is Updated Successfully!</div>
                </div>
                
                  <h1 >Reset Password</h1>
                    <form th:action="@{/resetpassword}" th:object="${resetPassword}" method="post">
                       
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <label class="control-label" for="email">
                            Email
                        </label>
                        <input id="email" class="form-control" th:field="*{email}" 
                            required autofocus="autofocus"/>
                            <p class="error-message"
                                th:each="error : ${#fields.errors('email')}"
                                th:text="${error}">Validation error</p>
                    </div>
                    
                    <div class="form-group"
                        th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label for="password" class="control-label">Old Password</label> 
                        <input id="password" class="form-control" type="password" th:field="*{password}" />
                            <p class="error-message"
                                th:each="error : ${#fields.errors('password')}"
                                th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                        th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label for="newPassword" class="control-label">New Password</label> 
                        <input id="newPassword" class="form-control" type="password" th:field="*{newPassword}" />
                            <p class="error-message"
                                th:each="error : ${#fields.errors('newPassword')}"
                                th:text="${error}">Validation error</p>
                    </div>
                       <div class="form-group">
                           <div class="row">
                               <div class="col-sm-6 col-sm-offset-3">
                                   <input type="submit" name="login-submit" id="login-submit"
                                       class="form-control btn btn-primary" value="Submit" />
                               </div>
                           </div>
                       </div>
                       <div class="form-group">
                        <span>Password Updated? <a href="/" th:href="@{/login}">Login Here</a></span>
                    </div>
                    </form>

             </div>
        </div>
    </div>

</body>
</html>